html,
body {
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  padding: 0;
  color: white;
}

#__next {
  min-height: 100vh;
  min-width: 100vh;
  margin: 0;
  padding: 0;
}
main {
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: left;
  padding-left: 2rem;
  padding-right: 2rem;
  min-height: 100vh;
  min-width: 100vh;
  background-color: black;
}

label {
  padding-right: 2rem;
}

button {
  width: 5rem;
  height: 2rem;
  background: rgb(255, 64, 12);
  background: linear-gradient(
    97deg,
    rgba(255, 64, 12, 1) 0%,
    rgba(255, 145, 0, 1) 100%
  );
  border-radius: 1rem;
  border: none;
  /* margin: 2rem; */
}
